body{
	text-align: center;
}
table {
	border: 3px solid black;
}
table thead tr th{
	border: 1px solid black;
	background-color: #99e6ff;
}
table tbody tr td{
	border: 1px solid black;	
}
table tfoot tr td{
	border: 1px solid black;
	background-color: #c6ffb3;
	font-weight: bold;	
}
.fila1{
	background-color: #ffffb3;
	font-weight: bold;
}
.fila3{
	padding-left: 20px;
	padding-right: 20px;
}
.total{
	text-align: right;
}
.fila6{
	text-align: right;
	padding-left: 30px;
}